:root {
    --black-background: #000000;
    --green-background: #19a320;
}

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    /* width: 100vw; */
    /* height: 100vh; */
    /* display: flex; */
    background: var(--black-background);
    background: linear-gradient(to left bottom, var(--green-background), var(--black-background));
}

main {
    width: 100vw;
    height: 100vh;
    padding-top: 40px;
    display: flex;
    align-items:flex-start;
    justify-content: center;
}

.container {
    width: 50%;
    height: 50%;
    background: rgba(178, 211, 32, 0.63)
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}



.Herb {
    width: 100px;
    height: 160px;
}